
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #FF0000;
    --cor-primaria: #134596;
    --cor-secundaria: #000000;
    --corterciaria: #ffffff;

}


body {
    background-color: var(--corterciaria);
    font-family: "Funnel Sans", sans-serif;
}

.logo-principal {
    width: 130px;
}

.header_menu {
    display: flex;
    padding: 15px 250px ;
    align-items: center;
    justify-content: space-between;
    color: var(--corterciaria);
    gap: 20px;
    z-index: 1;
    background-color: var(--cor-secundaria);
    }

    .menu-principal a {
        font-family: "Funnel Sans", sans-serif;
        text-decoration: none;
        color: var(--corterciaria);
    }

    .menu-principal a:hover {
        color: var(--cor-principal);
        text-decoration: none;
    }

    .atividades {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 30px 0 0 0;
    }

    .card-atividades {
        background-color: var(--cor-principal);
        padding: 20px;
        border-radius: 15px;
        max-width: 350px;
    }

    .text-card {
        margin: 0 400px 0 0;
    
    }

    h5 {
        color: var(--corterciaria);
        font-weight: 300;
    }

    h3 {
        color: var(--cor-principal);
    }

    p {
        color: var(--cor-secundaria);
    }

    .joseAudi {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .equipe-excelencia {
        display: flex;
        gap: 15px;
        padding: 150px 20% 150px 20% ;
        background-color: var(--cor-secundaria);
    }

    .card-time {
        background-color: var(--corterciaria);
        padding: 10px;
    }

.time {
    color: var(--corterciaria);

}

.equipe-pcture {
    min-width: 55%;
    
    

}
    
.swiper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clientes {
    width: 100%;
    max-width: 250px; /* aumenta o tamanho das imagens */
    height: auto;
    transition: transform 0.3s ease;
  }
  .clientes:hover {
    transform: scale(1.05); /* efeito suave ao passar o mouse */
  }
  
  /* Deixa as setas menores */
  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
    font-size: 20px; /* tamanho menor */
    width: 30px;
    height: 30px;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px; /* diminui o ícone da seta */
  }
  
  
  .nossosClientes {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: var(--cor-principal);
    margin-top: 80px;
  }
  
  /* Estilo base das imagens */
  .clientes {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 50px;
    margin: 50px 25px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  /* Hover (fica colorido) */
  .clientes:hover {
    filter: grayscale(0%);
  }
 
 .contactForm {
    display: flex;
    color: #fff;
    background-color: var(--cor-principal);
    gap: 3%;
 }


 .contatoForm-size {
    padding: 5%;
    width: 50%;
    margin: 0 0 0 100px;

 }

 .contato-adress {
    font-size:25px;
    font-weight: 600;
    padding: 60px 0 0 0;
    color: #fff;
 }

 .contatoText {
    color: #fff;
 }

 .btn-primary {
    color: #fff;
    background-color: var(--cor-secundaria);
    border-color: var(--cor-principal);
}

.redes {
    font-size: 35px;
}

.redesLink {
    text-decoration: none;
    color: inherit; 
}

.redesLink:hover {
    text-decoration: none; 
    color: var(--cor-secundaria); 
}           


.rodaPe {
    display: flex;
    margin: 80px 0 80px 0;
    justify-content: center;
    gap: 100px;
}

.rodaPe a {
    text-decoration: none;
    color: inherit; 
}

.rodaPe a:hover {
    text-decoration: none; 
    color: red; 
}

.assinatura {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
}

.textAssinatura {
    color: var(--cor-secundaria);
    text-align: center;
    margin-top: 15px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 60px;
    height: 60px;
    background-color: var(--corterciaria);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.whatsapp-float img {
    width: 60px;
    height: 60px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.quemSomos-capa{
    width: 100%;
    filter: opacity(30%);
}

.quemSomos-descricao {
    display: flex;
    margin: 50px 200px 0 200px;
    align-items: center;
    gap: 20px;
}

.quemSomos-logo {
    background-color: #d1d1d1;
    
   
}

.QuemSomos-grupo {
    display: flex;
    padding: 40px 200px 0 200px;
    gap: 50px;
}

.quemSomos-frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px ;
    background-color: var(--cor-secundaria);
    text-align: center;
    color: #fff;
    padding: 13%;
}

.quemSomos-fale {
    background-color: var(--cor-principal);
    margin-top: 15PX;
    padding: 20px;
    width: 20%;
    border-radius: 20px;    
}

.quemSomos-fale:hover {
    background-color: transparent;
    cursor: pointer;
    outline: 2px solid var(--cor-principal);
     
}

.quemSomos-fale-link {
    text-decoration: none;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

.quemSomos-fale-link:hover {
    text-decoration: none;
    font: inherit;
    color: inherit;
    
}

.oqueFazemos-grupo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: var(--cor-secundaria);
    padding: 40px 200px 40px 200px;
    gap: 50px;
}

.oqueFazemos-grupo-2 {
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 40px 200px 40px 175px;
    gap: 50px;
}

.titulo-nr {
    text-align: center;
    color: var(--cor-principal);
    font-size: 30px;
}

.oqueFazemos-titulo-video,
.oqueFazemos-video {
    text-align: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
    
}

.oqueFazemos-topic {
    color: var(--corterciaria);
}

.nossosClientes {
    display: flex;
    justify-content: center;
    gap: 20px;
}
    
    .nossosClientes-descricao {
        border: solid 1px var(--cor-principal);
        border-radius: 15px;
    }
    
    .nossosClientes-descricao p {
        font-weight: 5;
        font-size: 18px;
    }    


.logo-notus-clientes {
    width: 40%;
}

.contato-form {
    margin: 80px 150px 0 150px;
}

/*galeria de iamgens */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 100px;
    justify-content: center;
}
.gallery img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.gallery img.expanded {
    transform: scale(2);
    z-index: 10;
}

/*final do código */

.nossos-treinamentos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.card-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 200px 0 200px;
    margin-top: 50px;
    
}

.card-img-top {
    max-width: 230px;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
}

.menu-hamburguer {
    position: relative; /* Referência para posicionar o menu */
    z-index: 2; /* Garante que fique acima do menu */
  }
  
  .menu-escondido {
    display: none;
    position: absolute; /* Permite posicionar em relação ao hambúrguer */
    background-color: black;
    padding: 10px;
    top: 100%; /* Exatamente embaixo do .menu-hamburguer */
    right: 0;
    z-index: 1;
    text-align: right;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    text-decoration: none;
    font: inherit;
  }
  
  .menu-escondido.ativo {
    display: flex;
    flex-direction: column;
  }

  .menuEscondido {
    text-decoration: none;
    font: inherit;
    color: var(--corterciaria);
  }

  
  .menuEscondido:hover {
    text-decoration: none;
    font: inherit;
    color: var(--cor-principal);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    padding: 0 200px 0 200px;
}

/* responsividade */

@media screen and (max-width: 1280px) {

}
    

@media screen and (min-width: 1324px) {
    .menu-hamburguer {
        display: none;
    }
    
}

@media screen and (max-width: 1280px) {
    .menu-principal {
        display: none;
    }
    .menu-hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-secundaria);
        padding: 15px 0 15px 0;
    }
    .fa-bars {
        color: var(--corterciaria);
        font-size: 30px;
        cursor: pointer;
    }

    .card-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }


}
    

@media screen and (max-width: 1263px) {  
    .header_menu {
        padding: 15px 50px;
    }
    .menu-principal {
        display: none;
    }    
    .menu-hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-secundaria);
        padding: 15px 0 15px 0;
    }
    .fa-bars {
        color: var(--corterciaria);
        font-size: 30px;
    }
    

    .atividades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }
    .rodaPe {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 80px 0 80px 0;
        justify-content: center;
        gap: 20px;
    }
    .equipe-excelencia {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 5% 20% 5% 20% ;
        background-color: var(--cor-secundaria);
    }
    .contactForm {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;
        color: #fff;
        background-color: var(--cor-principal);
        gap: 3%;
        flex-direction: column;
    }
    .contatoForm-size {
        padding: 0%;
        width: 50%;
        margin: 0 0 0 0;
        width: 350px;
}
       .contato-adress {
        font-size:25px;
        font-weight: 600;
        padding: 20px 0 0 0;
        color: #fff;
    }
    .enderecoPrincipal {
       display: flex;
       flex-direction: column;
        margin-right: 90px;
        gap: 10px;
    }
    .quemSomos-descricao {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
        align-items: center;
        gap: 20px;
    }
    .textQuemsommos {
        text-align: center;
        margin: 0 0 0 0;
        padding: 0 60px 0 60px;
    }
    .QuemSomos-grupo {
        display: flex;
        flex-direction: column;
        padding: 0 20% 0 20%;
        gap: 50px;
    }
    .quemSomos-fale {
        background-color: var(--cor-principal);
        margin-top: 15PX;
        padding: 20px;
        width: 100%;
        border-radius: 20px;    
    }
    .oqueFazemos-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }
    .oqueFazemos-grupo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background-color: var(--cor-secundaria);
        text-align: center;
        gap: 50px;
    }
    .oqueFazemos-grupo-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-secundaria);
        text-align: center;
        gap: 50px;
    }
    .quemSomos-logo {
        display: flex;
        justify-self: center;
        width: 80%;
}

@media screen and (max-width: 1263px) {  
    .menu-principal {
    display: none;
    }    
    .menu-hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-secundaria);
        padding: 15px 0 15px 0;
    }
}

@media screen and (max-width: 931px) {
    .joseAudiaditoria {
        display: none;
    }
    
    
}    

@media (max-width: 768px) {
    .clientes {
      padding: 20px;
      margin: 30px 10px;
    }
  
    .nossosClientes {
      font-size: 20px;
      margin-top: 40px;
    }
    .joseAudi-texto {
        padding: 20px;
    }
  }

  @media screen and (max-width: 425px) {
    .contato-form {
        margin: 80px 20px 0 20px;
    }

  }



  @media screen and (max-width: 375px) {
    .contato-form {
        margin: 80px 20px 0 20px;
    }

    .oqueFazemos-grupo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        background-color: var(--cor-secundaria);
        text-align: center;
        gap: 50px;
        padding: 50px 0 50px 0; 
    }
    .carousel {
        z-index: 1;
    }

  }




  @media screen and (max-width: 320px) {
    .contactForm {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        align-items: center;
        color: #fff;
        background-color: var(--cor-principal);
        gap: 3%;
        flex-direction: column;
  }

  
  .contatoForm-size {
        padding: 0%;
        width: 50%;
        margin: 0 0 0 0;
        width: 250px;
    }

    .enderecoPrincipal {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        gap: 10px;
    }

   .carousel {
        z-index: 1;
    }

    .card-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        align-items: center;
    }

    .equipe-excelencia {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 5% 20% 5% 20% ;
        background-color: var(--cor-secundaria);
    }
   }

    .joseAudi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    }

    .joseAudi-texto {
        padding: 20px;
    }

    .logo-principal {
        width: 130px;
        margin-right: 0px;
    }

    .oqueFazemos-grupo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        padding: 50px 0 50px 0;
        background-color: var(--cor-secundaria);
    
        gap: 50px;
    }
    .oqueFazemos-grupo-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0 50px 0;
        background-color: var(--cor-secundaria);
      
        gap: 50px;
    }
    .quemSomos-descricao {
        display: flex;
        flex-direction: column;
        margin: 50px 20px 0 40px;
        align-items: center;
        gap: 20px;
    }

    .gallery {
        display: flex    ;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
    .contato-form {
        margin: 80px 20px 0 20px;
    }
    
  }
}